*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{ 
    font-family: 'Montserrat', sans-serif;
    background-color: whitesmoke;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    min-height: 3em;
    background-color: coral;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 3rem;
    margin-right: 1em;
}

nav a {
    font-weight: 600;
    padding: 1rem;
}

nav a:hover {
    color: white;
}

#subtitulo{
    text-align: center;
}

.menu-de-imagenes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 3em;
}

.menu-de-imagenes img {
    max-height: 300px;
    height: 30em;
    box-shadow: .2em .5em 2em rgba(0, 0, 0, .2);
}

.menu-de-imagenes div h4{
    text-align: center;
    font-weight: 600;
    font-size: larger;
}


.grilla {
    display: grid;
    grid-template-columns: 15rem 1fr;
    grid-column-gap: 2em;
}

.submenu {
    max-height: 70px;
    height: 10em;
    display: flex;
    flex-direction: column;
    margin-left: 5em;
    color: black;
}

#categorias li{
    font-weight: 900;
    border-bottom: solid 1px black;
}

.submenu li{
    font-size: 20px;
    margin-bottom: 1.2rem;
}
.productos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    grid-column-gap: 1.4rem;
    grid-row-gap: 2rem;
}
.contenedor-de-imagenes {
    height: 16em;
    width: 12em;
    max-width: 500px;
    max-height: 600px;
}
.contenedor-de-imagenes img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    align-items: center;
    border-radius: 30px;
    box-shadow: .2em .5em 2em rgba(0, 0, 0, .2);
}
.productos-tienda {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.productos-tienda img{
    height: 20em;
    margin: 10px 10px;
}
footer{
    display: grid;
    grid-template-columns: 1fr 14rem;
    background-color:lightsalmon;
    width: 100%;
    position: fixed;
    bottom:0;
}
.redes-sociales img{
    height: 45px;
    margin: 10px 5px 0 0;
    align-items: center;
}

#instagram-icon {
    max-height: 40px;
}

.copyright{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 40px;
}
.copyright p{
    font-size: 20px;
}

.copyright img{
    height: 25px;
    margin-right: 10px;

}

.banner{
    width:100%;
}

.barra-de-busqueda {
    padding: 16px;
    border: none;
    margin-top: 8px;
    margin-bottom: 20px;
    margin-right: 16px;
    font-size: 17px;
}

.nosotros-lorem {
    width: 65%;
    margin: auto;
    display: block;
}

.grilla-contacto { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
}

.contactanos{
    width: 30em;
    margin-left: 10%;
}

.contactanos div {
    margin: 5em 5em;
}

.formulario {
    margin-top: 5em;
    margin-right: 10%;
}
.formulario input{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30em;
}

.formulario .casilla {
    margin: 1em 0 20px ;
}

.formulario textarea{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.formulario button[type=submit]{
    padding:10px 20px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    margin-bottom: 10em;
}