body{ 
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: whitesmoke;
    width: 100%;
}

li {
    list-style: none;;
}

a {
    text-decoration: none;
    color: black;
}
header {
    display: flex;
    min-height: 70px;
    background-color: coral;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

nav a {
    font-weight: 600;
    padding: 10px;
}

nav a:hover {
    color: white;
}

#subtitulo{
    text-align: center;
}
.menu-de-imagenes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
}

.menu-de-imagenes img {
    max-height: 400px;
    height: 30em;
}

.menu-de-imagenes div p{
    text-align: center;
    font-weight: 600;
    font-size: larger;
}

.grilla {
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-column-gap: 2em;
}

.submenu {
    max-height: 70px;
    height: 25em;
    display: flex;
    flex-direction: column;
    margin-left: 7em;
    color: black;
}

#categorias li{
    font-weight: 900;
    border-bottom: solid 1px black;
    
}

.submenu li{
    font-size: 20px;
    margin-bottom: 15px;
}
.productos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 40px;
}

.productos img {
    height: 15em;
}
.productos-tienda {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.productos-tienda img{
    height: 20em;
    margin: 10px 10px;
}
footer{
    display: grid;
    grid-template-columns: 1fr 250px;
    background-color:lightsalmon;
}
.redes-sociales img{
    height: 45px;
    margin: 10px 5px 0 0;
    align-items: center;
}

#instagram-icon {
    max-height: 40px;
}

.copyright{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 40px;
}
.copyright p{
    font-size: 20px;
}

.copyright img{
    height: 25px;
    margin-right: 10px;

}

.banner{
    width:100%;
}

.barra-de-busqueda {
    padding: 16px;
    border: none;
    margin-top: 8px;
    margin-bottom: 20px;
    margin-right: 16px;
    font-size: 17px;

}

.nosotros-lorem {
    width: 65%;
    margin: auto;
    display: block;
    ;
}

.grilla-contacto { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
    
}
.contactanos{
    width: 30em;
    margin-left: 10%;
}
.contactanos div {
    margin: 5em 5em;
}

.formulario {
    margin-top: 5em;
    margin-right: 10%;

}
.formulario input{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30em;
}

.formulario .casilla {
    margin: 1em 0 20px ;
}


.formulario textarea{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.formulario button[type=submit]{
    padding:10px 20px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    margin-bottom: 10em;
    
}